@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Blog.Entity.Entity.Article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Makaleler</h2>


<a href="/AdminMakale/Create" class="btn btn-info">
    YENİ MAKALE EKLE
</a>
<table class="table">
    <tr>
        <th>
            Kategori Adı
        </th>
        <th>
            Başlık
        </th>
        <th>
            Özet
        </th>
        <th>
            Resim
        </th>
        <th>
            Tarih
        </th>
        <th>
            UyeId
        </th>
        <th>
            Okunma
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Category.Name
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.Summary
            </td>
            <td>
                <img width="75" alt="Alternate Text" src="@item.Picture" />
            </td>
            <td>
                @item.CreatedDate
            </td>
            <td>
                @item.UserId
            </td>
            <td>
                @item.OkunmaSayisi
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<div class="row">
    <div class="col-12 text-center pagination-lg" >
        <a href="#" class="">
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.Classic)
        </a>
    </div>
</div>